torch
einops
fvcore
ipykernel
numpy
matplotlib
pandas
pyarrow
scipy
progressbar2
coloredlogs
tensorboard
seaborn
git+https://github.com/utiasSTARS/liegroups@master
numba
h5py
setuptools
tqdm
gdown
open3d==0.17.0
